<h1 fxLayoutAlign="center center" mat-dialog-title style='color:#551a8b'>Add Book</h1>
<form [formGroup]='form' fxLayout="column" mat-dialog-content>
  <!-- TITLE -->
  <mat-form-field>
    <input required formControlName="title" type="text" matInput placeholder="Title" [(ngModel)]="book.title">
  </mat-form-field>
  <!-- AUTHOR FIELD -->
  <mat-form-field>
    <input required formControlName="author" type="text" placeholder="Author" aria-label="Author" matInput
      [matAutocomplete]="authorAutocomplete">
    <mat-autocomplete name='authorAutoComplete' autoActiveFirstOption (optionSelected)='authorSelected($event.option.value)'
      #authorAutocomplete="matAutocomplete" [displayWith]="authorDisplayFn">
      <mat-option *ngFor="let option of filteredAuthors | async" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <!-- SERIES FIELD -->
  <mat-form-field>
    <input formControlName='series' type="text" placeholder="Series" aria-label="Series" matInput [matAutocomplete]="seriesAutoComplete">
    <mat-autocomplete required autoActiveFirstOption #seriesAutoComplete="matAutocomplete" [displayWith]="seriesDisplayFn">
      <mat-option *ngFor="let option of filteredSeries | async" [value]="option">
        {{option.title}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<!-- ACTIONS -->
<div mat-dialog-actions fxLayoutAlign="center center" fxLayoutGap="50px">
  <button id='cancel-button' mat-stroked-button color='error' mat-dialog-close>Cancel</button>
  <button type='submit' id='add-button' [disabled]='form.invalid' mat-flat-button color='primary' (click)='addBook()'>Add
    Book</button>
</div>